.page-section.live-sidebar .nav-tabs>li>a {
    font-size: 0.9em;
    font-family: "Avenir LT W01_85 Heavy", sans-serif;
    margin: 0px;
    padding: 0px 10px 10px 10px;
}

@media(max-width:768px) {
    .page-section.live-sidebar .nav-tabs>li>a {
        padding: 10px 10px 10px 10px;
    }
}

.page-section.live-sidebar .nav-tabs {
    border: 0;
    margin-bottom: 15px;
    margin-top: 0px;
}

.page-section .nav-tabs>li>a:hover {
    color: black;
    background-color: #fff;
}

.page-section .nav-tabs>li.active>a,
.page-section .nav-tabs>li.active>a:hover,
.page-section .nav-tabs>li.active>a:focus {
    color: #161616;
    cursor: default;
    background-color: #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    height: 100%;
    border-bottom: 4px solid #a31a1a !important;
}

ul.nav-justified {
    margin-left: 0px;
    margin-right: 0px;
}

.full-width-tabs>ul.nav.nav-tabs {
    display: table !important;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    table-layout: fixed;
}

.full-width-tabs>ul.nav.nav-tabs>li {
    float: none;
    display: table-cell !important;
}

.full-width-tabs>ul.nav.nav-tabs>li>a {
    text-align: center;
}

.full-width-tabs .take-all-space-you-can {
    width: 100%;
}

@media(max-width:1200px) {
    .page-id-7605 .full-width-tabs>ul.nav.nav-tabs>li>a {
        font-size: 1.4em;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media(max-width:991px) {
    .page-id-7605 .full-width-tabs>ul.nav.nav-tabs>li>a {
        font-size: 1.78em;
    }
    .full-width-tabs>ul.nav.nav-tabs {
        display: block;
        width: auto;
        table-layout: none;
    }
    .full-width-tabs>ul.nav.nav-tabs>li {
        float: none;
        display: inline-block;
    }
    .full-width-tabs>ul.nav.nav-tabs>li>a {
        text-align: center;
    }
    .full-width-tabs .take-all-space-you-can {
        width: 100%;
    }
}

@media(max-width:480px) {
    .not-full-width-tabs>ul.nav.nav-tabs>li,
    .full-width-tabs>ul.nav.nav-tabs>li {
        float: none;
        display: block;
    }
}


/* Live Page */


/* Live page */

#live-message-body p {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 5px;
}

#live-message-details h2 {
    margin-bottom: 0px !important;
    padding-bottom: 1px !important;
}

#live-message-details p {
    margin-bottom: 10px;
}

#live-page .header-area h1 {
    margin-bottom: 0px;
    padding-bottom: 7px;
}

#live-page .header-area h3 {
    font-family: "Open Sans", sans-serif;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 1.3em;
}

.live-sidebar.col-lg-12 .nav-justified li {
    font-size: 1.3em;
}

.live-sidebar.col-lg-5 .nav-justified li {
    font-size: inherit;
}

.size-control-disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: .65;
}

.size-control-enabled {
    pointer-events: auto;
    cursor: pointer;
    filter: alpha(opacity=100);
    opacity: 1;
}

@media (max-width: 1200px) {
    #live-page .header-area h3 {
        margin-bottom: 0px;
    }
    .live-sidebar .nav-justified li {
        font-size: 1.3em;
    }
}

.live-sidebar .tab-content .tab-pane {
    border: 1px solid #dddddd;
    padding: 20px;
}

.live-sidebar .tab-content .tab-pane .btn {
    display: block;
    width: 100%;
}

.live-sidebar .tab-content .tab-pane p,
.live-sidebar .tab-content .tab-pane .radio label,
.live-sidebar .tab-content .tab-pane .checkbox label {
    line-height: 1.2em;
    font-size: 0.8em;
}

.live-sidebar .tab-content .tab-pane label.error {
    font-size: 0.7em;
    padding-top: 0px !important;
    margin-top: 5px !important;
    line-height: 1.1em;
}

.live-sidebar .tab-content .tab-pane .form-control {
    line-height: 1.3em;
}

.live-sidebar #sermons-tab img {
    margin-top: 0px;
    padding-top: 0px;
}

.live-sidebar #sermons-tab p {
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 18px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.live-sidebar .form-tab p {
    font-size: 0.9em !important;
    line-height: 1.6em !important;
    margin-bottom: 0.4em !important;
}

.live-sidebar .bible-iframe {
    padding: 0px;
    margin: 0px;
    width: 100%;
    min-height: 645px;
    max-height: 700px;
    height: 100%;
}

.live-sidebar .tab-content #notes-tab {
    padding: 0px;
}

.live-sidebar .tab-content #bible-tab {
    padding: 0;
    margin: 0;
}

.live-sidebar .tab-holder {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    min-height: 400px;
}

.teal-video-btn,
.teal-video-btn:link,
.teal-video-btn:visited {
    color: #a31a1a;
    background-color: white;
    padding: 0px 10px 3px 10px;
    border: 2px solid #a31a1a;
}

.teal-video-btn:hover {
    color: white;
    background-color: #a31a1a;
}


/*
@media (min-width: 1200px) {
#ls_embed_1458644761 { width:99.5%;}
}

*/


/* jQuery Countdown styles 2.0.0. */

.countdown-block {
    display: none;
    width: 100%;
    background-color: #444444;
    color: white;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.countdown-block .countdown-holder {
    min-width: 313px;
    width: 50%;
    padding: 20px 40px;
}

.countdown-block .next-service-outer {
    width: 50%;
    border-left: 1px solid #656565;
}

.countdown-block .next-service {
    width: 100%;
    line-height: 1.6em;
    padding: 20px 40px;
}

.is-countdown {
    margin-left: auto;
    margin-right: auto;
}

.countdown-rtl {
    direction: rtl;
}

.countdown-holding span {}

.countdown-row {
    clear: both;
    width: 100%;
    padding: 0px 2px;
    text-align: center;
}

.countdown-show1 .countdown-section,
.countdown-show2 .countdown-section,
.countdown-show3 .countdown-section,
.countdown-show4 .countdown-section,
.countdown-show5 .countdown-section,
.countdown-show6 .countdown-section,
.countdown-show7 .countdown-section {
    width: 52px;
}

.countdown-section {
    display: block;
    float: left;
    font-size: 75%;
    text-align: center;
    margin-top: 19px;
    margin-right: 5px;
    position: relative;
}

.countdown-amount {
    font-size: 200%;
    color: black;
    padding: 8px 10px;
    background-color: white;
}

.countdown-section:before,
.countdown-section:after {
    top: 1em;
    position: absolute;
    content: "";
    background-color: #444444;
    width: 3px;
    height: 2px;
    margin-top: 1px;
}

.countdown-section:before {
    left: 0px;
}

.countdown-section:after {
    right: 0px;
}

.countdown-period {
    display: block;
}

.countdown-descr {
    display: block;
    width: 100%;
}

@media (max-width: 563px) {
    .countdown-block .countdown-holder {
        width: 100%;
        min-height: 128px;
        margin: 0 auto;
        padding: 20px 40px;
    }
    .countdown-block .next-service {
        width: 100% !important;
    }
    .countdown-block .next-service-outer {
        border-left: none;
        width: 100% !important;
        border-top: 1px solid #656565;
    }
}

.add-designation {
    margin-top: -2px;
    float: left;
}

@media (max-width: 767px) {
    .add-designation {
        margin-top: 14px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .add-designation {
        margin-top: -2px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .add-designation {
        margin-top: -2px;
    }
}


/* Live Page */