

<script src="/assets/js/plugins/audio/audioplayer.js"></script>

<link href="/assets/css/bootstrap.css" type="text/css" rel="stylesheet">
<link href="https://live.ddev.site/assets/css/custom.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/assets/css/audioplayer.css">
<hr>
<div class="col-md-12 mg-b-md mg-t-sm">
    <div class="audioplayer audioplayer-stopped"><audio preload="none" controls="" style="width: 0px; height: 0px; visibility: hidden;">
            <source src="https://web.archive.org/web/20161029124239oe_/http://thechapel.com/podcast/CrossPoint/audio/2016-09-11.mp3"></audio>
        <div class="audioplayer-playpause" title="Play"><a href="#">Play</a></div>
        <div class="audioplayer-time audioplayer-time-current">00:00</div>
        <div class="audioplayer-bar">
            <div class="audioplayer-bar-loaded"></div>
            <div class="audioplayer-bar-played"></div>
        </div>
        <div class="audioplayer-time audioplayer-time-duration">…</div>
        <div class="audioplayer-volume">
            <div class="audioplayer-volume-button" title="Volume"><a href="#">Volume</a></div>
            <div class="audioplayer-volume-adjust">
                <div>
                    <div style="height: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/3f1cd61ae4.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>